.button {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}

.line {
    border-bottom: 1px solid #888;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}